body{
	background: #FFFEF7;
	color: rgb(50, 50, 50 / 1.0);
	font-family: arial;
	font-size: 17px;
	text-align: center;
}
h1{color: rgba(240, 157, 149 / 1.0) ; 
	font-family:courier ;
	font-size:32px ;
	letter-spacing: 1px; 
	padding: 1px 14px}
h2{color: #AA217D;}
a{
	font-size: 57px;
	text-decoration: none;
	color:#65004E;
}
a:hover{color:#B65382; 
	transition: 0.3}

.container{
	width: 960px;
	margin: 40px;
}
.cadre {
	background: #E6CAB5;
	padding: 60px;
	margin: 50px;
	border: 1px ;
	border-radius: 3px;
	box-shadow: 2px 2px 20px rgba(10,10,10,0.3);
	animation: fadeIn 3s;
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.img-circle{
	border-radius: 60%;
	box-shadow: 7px 7px 10px #65004E;

}
.img-resize {
	width: 100%;
	max-width: 600px;
}
.list-horizontal{
	list-style: none;
	padding-left: 0;
}
@media (max-width:700px) {
	.container{
		width: 600px;
	}
}
@media (max-width:500px) {
	.container{
		width: 400px;
		margin: 10px;
	}
	.cadre{
		padding: 10px;
		margin: 10px;
	}
}