body{
	background: #FAEBE6;
	color: rgb(50, 50, 50 / 1.0);
	font-family: arial;
	font-size: 17px;
	text-align: center;
}
h1{color: rgba(240, 157, 149 / 1.0) ; 
	font-family:courier ;
	font-size:32px ;
	letter-spacing: 1px; 
	padding: 1px 14px}
h2{color: #E090AD;}
a{
	font-size: 57px;
	text-decoration: none;
	color:#D88BA7;
}
a:hover{color:#075F53; 
	transition: 0.3}

.container{
	width: 960px;
	margin: 40px;
}
@media (max-width:700px) {
	.container{
		width: 600px;
	}
}
@media (max-width:500px) {
	.container{
		width: 400px;
	}
}
.cadre {
	background: #CED7C2;
	padding: 60px;
	margin: 50px;
	border: 1px ;
	border-radius: 3px;
	box-shadow: 2px 2px 20px rgba(10,10,10,0.3);
}
.img-circle{
	border-radius: 50%;
	box-shadow: 5px 5px 5px #DAC4D0;

}
.list-horizontal{
	list-style: none;
	padding-left: 0;
}
